@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Julius Sans One';
  src: url('../fonts/../fonts/JuliusSansOne-Regular.woff2') format('woff2'),
    url('../fonts/../fonts/JuliusSansOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  color: #2b2b2b;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1356px;
}

/* header */

.header-top {
  background: url(./../images/banner.png) center center / cover no-repeat;
  height: 500px;
}

.header-connect {
  float: left;
  margin-top: 40px;
  padding-left: 220px;
}

.header-connect li {
  display: inline-block;
  padding: 8px;
  color: #ffffff;
  font-weight: 300;
}

.header-controls {
  float: right;
  display: inline-flex;
  margin-top: 40px;
  padding-right: 520px;
}

.header-controls ul {
  display: inline-block;
  align-items: center;
  position: relative;
}

hr {
  width: 100%;
  color: #2b2b2b;
  height: 2px;
  margin-top: 42px;
  border-color: #cccccc;
}

.header-controls ul li {
  display: inline-block;
  padding: 8px;
  justify-content: space-between;
}

.header-controls form {
  border: 2px solid #cccccc;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.header-bottom {
  text-align: center;
  width: 100%;
  padding-top: 473px;
  height: 52px;
}

.nav-links {
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}

.nav-links li {
  display: inline-flex;
  padding: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-left: 150px;
}

.content-main > section {
  margin-bottom: 76px;
  margin-top: 76px;
}

.content-main > header {
  text-align: center;
}

.content-header > .content-main > header > h1 {
  font-size: 35px;
  color: #2b2b2b;
  font-weight: 700;
  margin: 16px 16px;
}

.product-tiles {
  display: flex;
  justify-content: space-between;
}

.product-tile {
  width: 23.67256%;
}

.product-tile .product-tile-image {
  position: relative;
}

.product-tile .product-tile-image img {
  width: 100%;
}

.product-tile .product-tile-badge {
  font-size: 22px;
  font-weight: 700;
  top: 20px;
  right: 20px;
  position: absolute;
}

.product-tile .product-tile-info {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #2b2b2b;
  margin-top: 20px;
}

.product-tile .product-tile-pricing {
  text-align: center;
  margin: 16px 0;
  font-size: 22px;
  font-weight: 300;
}

.home-content {
  display: flex;
}

.home-content-aside {
  left: 282px;
}

.home-content h1 {
  text-align: right;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0.66px;
}

.home-content p {
  text-align: right;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 300;
  text-align: left;
  padding-left: 30px;
  margin-top: 60px;
  letter-spacing: 0.33px;
}

.footer {
  background: #e8e8e8 0% 0% no-repeat padding-box;
  margin-top: 16px;
  height: 249px;
}

.footer-content {
  text-align: center;
}

.footer-inner {
  display: flex;
  font-size: 22px;
  color: #2b2b2b;
  text-transform: lowercase;
  justify-content: space-between;
  text-align: left;
  padding-top: 41px;
}

.footer-submit ul li {
  display: inline-block;
  padding: 8px;
}

.footer-services {
  display: inline-block;
  text-align: center;
}

.footer-services ul {
  display: inline-block;
  margin-left: 16px;
}
